<html>
  <head>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.css" type="text/css" rel="stylesheet">
    <link href="css/index.css" type="text/css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
    <script src="/socket.io/socket.io.js"></script>
    <script src="js/index.js"></script>
    <script src="js/libs/moment.min.js"></script>
    <script src="js/libs/emojionearea/dist/emojionearea.js"></script>
    <link href="js/libs/emojionearea/dist/emojionearea.min.js" rel="stylesheet" >
    <script src="https://cdnjs.cloudflare.com/ajax/libs/knockout/3.2.0/knockout-debug.js"></script>
  </head>
  <body>
    <div class="container">
      <h3 class=" text-center">Messaging</h3>
      <div class="messaging">
        <div class="inbox_msg">
          <div class="inbox_people">
            <div class="headind_srch">
              <div id="offline" class="recent_heading">
                <h4>Recent</h4>
              </div>
              <div id="online" class="recent_heading">
                  <h4>Online</h4>
                </div>
              <div class="srch_bar">
                <div class="stylish-input-group">
                  <input type="text" class="search-bar"  placeholder="Search" >
                  <span class="input-group-addon">
                  <button type="button"> <i class="fa fa-search" aria-hidden="true"></i> </button>
                  </span> </div>
              </div>
            </div>
            <div id='oll' data-bind="foreach:OnlineUserList" >
                <div class="inbox_chat" data-bind="click: changeUser, attr: {'id': userId,'socket_id':socketId} ">
                  <div data-bind="attr: {'id': userId,'socket_id':socketId} " class="chat_list active_chat">
                    <div data-bind="attr: {'id': userId,'socket_id':socketId}" class="chat_people">
                      <div data-bind="attr: {'id': userId,'socket_id':socketId} " class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                      <div data-bind="attr: {'id': userId, 'socket_id':socketId} " class="chat_ib">
                        <h5  data-bind="text:userName, attr: {'id': userId,'socket_id':socketId} "> <span class="chat_date">Dec 25</span></h5>
                        <p id="">Test,</p>
                      </div>
                    </div>
                  </div>
                </div> 
            </div>
            <% senderUser.forEach(function(user){ %>
            <div id="<%= user.user_id %>" class="inbox_chat off_user" data-bind="click: changeUser">
              <!-- <div id="<%= user.user_id %>" class="inbox_chat" > -->
                <div id="<%= user.user_id %>" class="chat_list active_chat">
                  <div id="<%= user.user_id %>" class="chat_people">
                    <div id="<%= user.user_id %>" class="chat_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div>
                    <div id="<%= user.user_id %>" class="chat_ib">
                      <h5 id="<%= user.user_id %>"><%= user.user_first_name +' '+ user.user_last_name  %> <span class="chat_date">Dec 25</span></h5>
                      <p id="<%= user.user_id %>">Test,</p>
                    </div>
                  </div>
                </div>
            </div>
             <% }); %>
          </div>
          <div id='mess' class="mesgs">
            <div  class="msg_history" data-bind="foreach:MessageList">
                
                <div class="outgoing_msg" data-bind="if: checkMessageSide($.map($data.chat_sender_id, function (item) {
                  return item;
                }))">
               
                    <div class="sent_msg">
                      <p data-bind="text:msg"></p>
                      <span class="time_date" data-bind="text: msg_time"></span> 
                    </div>
                </div> 
              
                 <div class="incoming_msg" data-bind="if: checkRRMessageSide($.map($data.chat_sender_id, function (item) {
                  return item;
                }))">
                    
                  <div class="incoming_msg_img"> 
                    <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> 
                  </div>
                  <div class="received_msg">
                    <div class="received_withd_msg">
                      <p  data-bind="text:msg"></p>
                      <span class="time_date" data-bind="text: msg_time"> </span>
                    </div></span>
                    </div>
                </div>
                
              
            </div>
            <div class="type_msg">
            
              <div class="input_msg_write">
                  <form action="">
                      <input type="hidden" id="reciver_id" name="reciverId" value="">
                      <input type="hidden" id="socket_id" name="socketId" value="">
                     
                      <input id="m"  autocomplete="off"  /><div class='emoji_input'></div><div id='example1'></div><<i class="fa fa-smile-o fa-3x open" aria-hidden="true"></i><button class="msg_send_btn"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
                    </form>
                    <button id="send-location">Send Location</button>
                <!-- <input type="text" class="write_msg" placeholder="Type a message" />
                <button class="msg_send_btn" type="button"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button> -->
              </div>
            </div>
          </div>
        </div>
      </div>
     
    </body>
</html>
<script>
function reciverMessageModel() {
    var self = this;
    self.MessageList = ko.observableArray([]);
    self.OnlineUserList = ko.observableArray([]);
    var url_string = window.location.href;
    var url = new URL(url_string);
    var c = url.searchParams.get("id");
    
    
    self.GetMessage = function (data){
      // console.log(data); 
      $.ajax({
        type: "POST",
        dataType: "json",
        contentType: "application/json; charset=utf-8",
        url: 'http://localhost:3000/message',
        data:  JSON.stringify({"sender_id":c,"reciver_id":data}),
        success: function (data) {
        	//Here you map and create a new instance of userDetailVM
				  self.MessageList($.map(data.data.messageData, function (item) {
            return new MessageDetailViewModel(item);
          }));
          $('.msg_history').scrollTop($('.msg_history')[0].scrollHeight);
        }
      });
    }
  
  changeUser = function(data, event) {
    $('#selUser').hide();
    $('#mess').show();  
    var id = event.target.id;
    $('.tempchat').remove();
    self.GetMessage(event.target.id);
  }

  socket.on('updateUserList', function(user){
    if(user.users.length>1){
      self.OnlineUserList($.map(user.users, function (item) {
        if(c!=item.name){
          return new OnlineUserViewModel(item);
        }
      }));
    } 
  });

socket.on('newMessage', function(message){
    console.log('new message');
    var formattedTime = moment(message.created).format('h:mm a');
    if(message.message.latitude && message.message.longitude){
        $('.msg_history').append('<div class="incoming_msg"><div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"><p><a href = '+message.url+'>My current Location</a></p><span class="time_date"> '+formattedTime+'|'+moment(message.created).format('MMM')+' '+moment(message.created).format('D')+ ','+ moment(message.created).startOf('minute').fromNow()+'</span></div></div></div>');
        scrollToBottom();
    } else{
      $('.msg_history').append('<div class="incoming_msg tempchat"><div class="incoming_msg_img"> <img src="https://ptetutorials.com/images/user-profile.png" alt="sunil"> </div><div class="received_msg"><div class="received_withd_msg"><p>'+message.message+'</p><span class="time_date"> '+formattedTime+'   | '+moment(message.created).format('MMM')+' '+moment(message.created).format('D')+ ','+ moment(message.created).startOf('minute').fromNow()+'</span></div></div></div>');
        scrollToBottom();
    }
    
});

  function OnlineUserViewModel(data){
    var self = this;
    self.userName= ko.observable(data.name);
    self.userId = ko.observable(data.name);
    self.socketId = ko.observable(data.id);
  }
}

function MessageDetailViewModel(data){
  var self = this;
   self.msg= ko.observable(data.chat_message);
   self.msg_time= ko.observable(data.chat_sent_at);
   self.chat_sender_id = ko.observable(data.chat_sender_id);
}
function checkMessageSide(data){
  var url_string = window.location.href;
  var url = new URL(url_string);
  var c = url.searchParams.get("id");
  return data[1]==c ? 1: 0;
}

function checkRRMessageSide(data){
  var url_string = window.location.href;
  var url = new URL(url_string);
  var c = url.searchParams.get("id");
  return data[1]==c ? 0: 1;
}



ko.applyBindings(new reciverMessageModel());
</script>